
<div class="hero-unit">
  <h1>PhotoCloud</h1>
  <p>Simple cloud-based photo and video sharing.</p>
  <p>
    <a class="btn btn-primary btn-large" href="/albums/new">
      Create an Album
    </a>
    <a class="btn btn-primary btn-large" href="/images/new">
      Upload an Image
    </a>
  </p>
</div>
